<a href="https://colab.research.google.com/github/ebaah46/lstm/blob/main/Exercise_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from keras import callbacks
import pandas as pd
from keras.layers import Dense,LSTM
from keras.models import Sequential
from keras.losses import mse


import numpy as np
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('/content/household_power_consumption.txt',sep=";")
df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

               Date      Time  ... Sub_metering_2 Sub_metering_3
0        16/12/2006  17:24:00  ...          1.000           17.0
1        16/12/2006  17:25:00  ...          1.000           16.0
2        16/12/2006  17:26:00  ...          2.000           17.0
3        16/12/2006  17:27:00  ...          1.000           17.0
4        16/12/2006  17:28:00  ...          1.000           17.0
...             ...       ...  ...            ...            ...
2075254  26/11/2010  20:58:00  ...              0            0.0
2075255  26/11/2010  20:59:00  ...              0            0.0
2075256  26/11/2010  21:00:00  ...              0            0.0
2075257  26/11/2010  21:01:00  ...              0            0.0
2075258  26/11/2010  21:02:00  ...              0            0.0

[2075259 rows x 9 columns]

In [ ]:
df.dropna(inplace=True)

In [ ]:
df

               Date      Time  ... Sub_metering_2 Sub_metering_3
0        16/12/2006  17:24:00  ...          1.000           17.0
1        16/12/2006  17:25:00  ...          1.000           16.0
2        16/12/2006  17:26:00  ...          2.000           17.0
3        16/12/2006  17:27:00  ...          1.000           17.0
4        16/12/2006  17:28:00  ...          1.000           17.0
...             ...       ...  ...            ...            ...
2075254  26/11/2010  20:58:00  ...              0            0.0
2075255  26/11/2010  20:59:00  ...              0            0.0
2075256  26/11/2010  21:00:00  ...              0            0.0
2075257  26/11/2010  21:01:00  ...              0            0.0
2075258  26/11/2010  21:02:00  ...              0            0.0

[2049280 rows x 9 columns]

In [ ]:
df.drop(['Date'],1,inplace=True)

In [ ]:
df

             Time Global_active_power  ... Sub_metering_2 Sub_metering_3
0        17:24:00               4.216  ...          1.000           17.0
1        17:25:00               5.360  ...          1.000           16.0
2        17:26:00               5.374  ...          2.000           17.0
3        17:27:00               5.388  ...          1.000           17.0
4        17:28:00               3.666  ...          1.000           17.0
...           ...                 ...  ...            ...            ...
2075254  20:58:00               0.946  ...              0            0.0
2075255  20:59:00               0.944  ...              0            0.0
2075256  21:00:00               0.938  ...              0            0.0
2075257  21:01:00               0.934  ...              0            0.0
2075258  21:02:00               0.932  ...              0            0.0

[2049280 rows x 8 columns]

In [ ]:
df

             Time Global_active_power  ... Sub_metering_2 Sub_metering_3
0        17:24:00               4.216  ...          1.000           17.0
1        17:25:00               5.360  ...          1.000           16.0
2        17:26:00               5.374  ...          2.000           17.0
3        17:27:00               5.388  ...          1.000           17.0
4        17:28:00               3.666  ...          1.000           17.0
...           ...                 ...  ...            ...            ...
2075254  20:58:00               0.946  ...              0            0.0
2075255  20:59:00               0.944  ...              0            0.0
2075256  21:00:00               0.938  ...              0            0.0
2075257  21:01:00               0.934  ...              0            0.0
2075258  21:02:00               0.932  ...              0            0.0

[2049280 rows x 8 columns]

In [ ]:
df['Time'] = df['Global_reactive_power']

In [ ]:
# Remove all time data
# Get columns in list
columnss = df.columns
columns

Index(['Time', 'Global_active_power', 'Global_reactive_power', 'Voltage',
       'Global_intensity', 'Sub_metering_1', 'Sub_metering_2',
       'Sub_metering_3'],
      dtype='object')

In [ ]:
# Loop through the column and change all values to float
for column in columns:
  df[column] =  pd.to_numeric(df[column],errors='coerce')
df.dtypes

Time                     float64
Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
Sub_metering_2           float64
Sub_metering_3           float64
dtype: object

In [ ]:
# Setting features and labels
print('Setting features and labels...')
y = np.array(df['Global_active_power'])

X = np.array(df.drop(['Global_active_power'],1))

Setting features and labels...

In [ ]:
df

          Time  Global_active_power  ...  Sub_metering_2  Sub_metering_3
0        0.418                4.216  ...             1.0            17.0
1        0.436                5.360  ...             1.0            16.0
2        0.498                5.374  ...             2.0            17.0
3        0.502                5.388  ...             1.0            17.0
4        0.528                3.666  ...             1.0            17.0
...        ...                  ...  ...             ...             ...
2075254  0.000                0.946  ...             0.0             0.0
2075255  0.000                0.944  ...             0.0             0.0
2075256  0.000                0.938  ...             0.0             0.0
2075257  0.000                0.934  ...             0.0             0.0
2075258  0.000                0.932  ...             0.0             0.0

[2049280 rows x 8 columns]

In [ ]:
# Reshape the input data
X = X.reshape((X.shape[0], X.shape[1], 1))

In [ ]:
# Split data into test and train
print('Split data into test and train...')
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

Split data into test and train...

In [ ]:
# Create LSTM model function
def create_model(num_of_neurons,dropout_ratio=0.2,num_of_layers=1):
    # Create LSTM model
    model = Sequential()
    for layer in np.arange(0,num_of_layers):
      model.add(LSTM(units=num_of_neurons,dropout=dropout_ratio,return_sequences=True))
    model.add(Dense(units=1,activation='sigmoid'))
    return model

In [ ]:
# Create a model
model = create_model(num_of_neurons=100,dropout_ratio=0.1,number_of_layers=4)

In [ ]:
# Configuring model
print('Configuring model...')
model.compile(optimizer='adam',loss=mse,metrics=['accuracy'])

Configuring model...

In [ ]:
from keras.callbacks import EarlyStopping
# Configure callback
callback = EarlyStopping(monitor='loss',patience=20)

In [ ]:
# Training model
print('Training model...')
model.fit(X_train,y_train,epochs=100,batch_size=1000,verbose=1,callbacks=[callback])

Training model...
Epoch 1/100
1640/1640 [==============================] - 123s 75ms/step - loss: 0.5044 - accuracy: 2.6176e-04
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,accuracy
Epoch 2/100
1640/1640 [==============================] - 126s 77ms/step - loss: 0.5041 - accuracy: 2.6124e-04
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,accuracy
Epoch 3/100
1640/1640 [==============================] - 128s 78ms/step - loss: 0.5044 - accuracy: 2.6211e-04
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,accuracy
Epoch 4/100
1640/1640 [==============================] - 130s 79ms/step - loss: 0.5039 - accuracy: 2.6185e-04
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,accuracy
Epoch 5/100
1640/1640 [==============================] - 132s 80ms/step - loss: 0.5039 - accuracy: 2.6185e-04
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,accuracy
Epoch 6/100
1640/1640 [==============================] - 130s 79ms/step - loss: 0.5039 - accuracy: 2.6168e-04
WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,accuracy
Epoch 7/100
 942/1640 [================>.............] - ETA: 55s - loss: 0.5044 - accuracy: 2.8101e-04

KeyboardInterrupt: ignored

In [ ]:
`# Evaluating the model
print('Evaluating the model...')
loss,acc = model.evaluate(x=X_test,y=y_test)
print(f'Accuracy of the model:{acc*100}%')